<div class="banniere-homepage-texte">
  {{>atoms-auteur}}
  <div class="ligne-banniere-homepage">
  </div>
  <p class="titre-article-banniere"> <strong>TITRE DE L'ARTICLE POUR LA BANNIERE DE LA HOMEPAGE </strong></p>
  {{>atoms-button-lire-big}}
  <div class="barre-point-slider">
    {{>atoms-point-slider}} {{>atoms-point-slider}} {{>atoms-point-slider}} {{>atoms-point-slider}} {{>atoms-point-slider}}
  </div>
</div>