<div class="homepage-section">
  {{>molecules-barre-header}} {{>molecules-banniere-presentation}} {{>organisms-barre-categories}} {{>organisms-article-bloc}} {{>atoms-voir-tout}}
</div>

organisme "how to" organisme "a venir" organisme "ressources" footer goes here